main {

    width: 100%;
    min-height: 100vh;

    background: #F7ECDE;
    /*background: linear-gradient(112deg, #5c3997, #0e0e0e);*/
    font-family: 'Times New Roman', Times, serif;
    
}









@media (max-width: 1200px) {
    h1 {
        font-size: 60px;
    }

    p {
        font-size: 30px;
    }

    button {
        width: 180px;
        height: 50px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 25px;
    }

    button {
        width: 160px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    button {
        width: 140px;
        height: 40px;
    }

    .d-flex {
        flex-direction: column;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    button {
        width: 120px;
        height: 55px;
    }
}


